
:root {
  --color-default-countdown: #61dafb;
  --color-default-countdown-2: #f2fb61;
}


.home {
  .explanation {
    background-color: #eee;
    margin-bottom: 30px;
    padding: 30px 0;

    p {
      margin-bottom: 10px;
      font-size: 14px;
    }

    @media (max-width: 820px) {
      padding: 30px 10px;
    }
  }

  & > div {
    @media (max-width: 820px) {
      padding: 0 10px;
    }
    .destaque {
      margin: 30px 0;
      display: inline-block;
      font-family: 'Sacramento', cursive;
      font-weight: 100;
      font-size: 56px;
      color: var(--color-default-countdown);

      &-dois {
        font-size: 23px;
        color: #333;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  &.to-get-married {

    & > div {
      .destaque {
        color: var(--color-default-countdown-2);
      }
    }
    DivContainer {display: none}
  }


  form {
    margin: 20px 0 0;

    input {
      width: calc( 50% - 40px);
      margin-right: 10px;
      margin-bottom: 0;
    }

    button {
      width: 60px;
      display: inline-block;
      height: 36px;
      border: 1px solid #eee;
      vertical-align: top;
      outline: none;
      background-color: var(--color-default-countdown);

      &:hover {
        box-shadow: 0 0 100px rgba(0, 0, 0, .4) inset;
        color: #eee;
      }
    }
  }
}
